:root {
    /* Colors */
    --primary-color: #e87070; 
    --secondary-color: #D9C8A3; 
  
    /* Fonts */
    --font-body: 'Roboto', sans-serif; /* body text */
    --font-heading: 'Pacifico', cursive; /*  headings */
  }


  .icon {
    display: flex;
    justify-content: center; 
    gap: 55px; 
    padding: 20px 0; 
}

h1 {
    font-family: var(--font-heading);
}

#hero_section {
    position: relative; /* To position the image within the section */
    width: 100%; /* Full width */
    height: 30vh; /* Full viewport height */
    overflow: hidden; /* Ensures any overflowing content is hidden */
}

#heroimg {
    position: absolute; /* Position the image within the section */
    top: 0;
    left: 0;
    width: 100%; /* Make the image stretch to full width */
    height: 100%; /* Make the image stretch to full height */
    object-fit: cover; /* Ensures the image covers the area without distortion */
    object-position: center; /* Centers the image */
}


footer {
    text-align: center;
    background-color: var(--primary-color);
    padding: 10px;
    height: 180px;
}







@media (max-width: 320px) {


    header {
        display: flex;
        justify-content: space-between;
        background-color: var(--primary-color);
        border: solid black;
        padding: 10px;
      }

    #menu {
        font-size: 1.5rem;
        border: 0;
        background: none;
        color: #000;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    #menu::before {
        content: "☰";
    }

    #menu.open::before {
        content: "❌";
    }

    .navigation {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        list-style-type: none;
        
    }

    .navigation.open {
        display: flex;  /* Show the menu when open */
    }

    .navigation a {
        display: none;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: black;
    }

    .navigation.open a {
        display: block;  /* Show links when menu is open */
        background-color: var(--secondary-color);
    }

    .navigation a:hover {
        background-color: var(--secondary-color);
        color: black;
        font-weight: 700;
    }

    /* when the button is clicked - the open class is toggled (added/removed) */
    .open a {
        display: block;
    }

    nav ul{
        list-style-type: none;
        padding: 0;
    }




    .home_main {
        display: grid;
        grid-template-columns: 1fr;
        background-color: var(--secondary-color);
    }


    .main_section {
        grid-row: 1/2;
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        background-color: var(--secondary-color);
    }

    #hero_section {
        border: solid black;
    }

    #main_section {
        border: solid black;
        padding: 20px;
        margin: 5px;
        background-color: white;
    }

    aside {
        border: solid black;
        padding: 20px;
        margin: 5px;
        background-color: white;
    }






}




