:root {
    /* Colors */
    --primary-color: #D93F3F; 
    --secondary-color: #D9C8A3; 
  
    /* Fonts */
    --font-body: 'Roboto', sans-serif; /* body text */
    --font-heading: 'Pacifico', cursive; /*  headings */
  }


#color1 {
    color: var(--primary-color);
}

#color2 {
    color: var(--secondary-color);
}

#font1 {
    font-family: var(--font-body);
}

#font2 {
    font-family: var(--font-heading);
}


