:root {
    --primary-color: #003366
}


@media (max-width: 380px) {
    header img {
        width: 80px;
        height: 80px;
    }

    header h1 {
        font-size: 18px;
    }

    .navigation a {
        font-size: 16px;
    }


    header {
        background-color: var(--primary-color);
        border: solid black;
        padding: 10px;
        text-align: center;
        color: #fff;
    }


    #profile_img {
        width: 150px;
      }

      #grid_menu {
        width: 40px;
        height: 40px;
        border: none;
        cursor: pointer;
    }

    #menu {
        font-size: 1.5rem;
        border: 0;
        background: none;
        color: #000;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    #menu::before {
        content: "☰";
    }

    #menu.open::before {
        content: "❌";
    }

    .navigation {
        display: flex;
	    flex-direction: column;
	    justify-content: space-around;
        list-style-type: none;
        
    }

    .navigation.open {
        display: flex;  
    }

    .navigation a {
        display: none;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: black;
    }

    .navigation.open a {
        display: block;  
        background-color: lightblue;
    }

    .navigation a:hover {
        background-color: lightblue;
        color: black;
        font-weight: 700;
    }

    
    .open a {
        display: block;
    }

    nav ul{
        list-style-type: none;
        padding: 0;
    }

    main {
        text-align: center;
    }



    #hero_section {
        position: relative;
        grid-column: 1/4;
        width: 100%;
        overflow: hidden;
    }

    #hero_img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
      
    #hero_section h2 {
        position: absolute;
        top: 10px; 
        left: 20%;
        color: #fff; 
        font-size: 32px; 
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
        text-align: center;
        margin: 0;
    }

    #hero_section h2 a {
        text-decoration: none;
        color: #fff; 
        font-size: 15px;
    }



    
}





