
/* FONTS */
.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
  }  

.roboto_thin300 {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: italic;
  font-variation-settings:
    "wdth" 100;
}

:root {
    --primary-color: rgb(128, 188, 220);
    --secondary-color: rgb(213, 156, 91);
}

.icon {
    display: flex;
    justify-content: center; 
    gap: 55px; 
    padding: 20px 0; 
}





@media (max-width: 420px) {


    header {
        background-color: var(--primary-color);
        border: solid black;
        padding: 10px;
    }


    #profile_img {
        width: 150px;
      }



    #menu {
        font-size: 1.5rem;
        border: 0;
        background: none;
        color: #000;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    #menu::before {
        content: "â˜°";
    }

    #menu.open::before {
        content: "âŒ";
    }

    .navigation {
        display: flex;
	    flex-direction: column;
	    justify-content: space-around;
        list-style-type: none;
        
    }

    .navigation.open {
        display: flex;  /* Show the menu when open */
    }

    .navigation a {
        display: none;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: black;
    }

    .navigation.open a {
        display: block;  /* Show links when menu is open */
        background-color: var(--secondary-color);
    }

    .navigation a:hover {
        background-color: var(--secondary-color);
        color: black;
        font-weight: 700;
    }

    /* when the button is clicked - the open class is toggled (added/removed) */
    .open a {
        display: block;
    }

    nav ul{
        list-style-type: none;
        padding: 0;
    }







    

    main {
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: auto; 
        gap: 15px; 
        padding: 15px;
    }

    #main_title {
        grid-column: 1 / -1; 
        text-align: center;
        font-size: 1.5rem;
    }

    section {
        grid-column: 1 / -1; 
        margin: 5px;
        padding: 10px;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
        transition: box-shadow 0.3s ease;
    }

    section h2 {
        background-color: var(--secondary-color);
        margin: -5px -5px 5px -5px;
        padding: 15px;
        border-radius: 15px;
        text-align: center;
    }

    #st_george_pic {
        width: 100%; 
    }



    

    footer {
        text-align: center;
        background-color: var(--primary-color);
        padding: 15px;
    }




  }









